<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <nav>
    <ul>
      <li> <a href="{% url 'index' %}">Accueil</a> </li>
      <li><a href="{% url 'news' %}">Infos</a> </li>
      <li><a href="{% url 'about' %}">A propos</a> </li>
      <li><a href="admin/">Admin</a> </li>
    </ul>
  </nav>

  {% block header %}
  <h2>Hello World, base.html!</h2>
  {% endblock %}


  {% block contenu %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, nihil? Aspernatur est nihil eligendi mollitia.</p>
  {% endblock  %}



</body>

</html>