<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <title>Hello, world!</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Contacts</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Accueil</a> </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %} <a class="nav-link" href="{% url 'logout' %}">Deconnexion</a>
            {% else %} <a class="nav-link" href="{% url 'login' %}">Connexion</a>
            {% endif  %}
          </li>
        </ul>
      </div>
    </div>
  </nav>


  {% block titre %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Gestion de contacts</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
  {% endblock %}





  <div class="container">

    {% block contenu %}

    {% endblock %}

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}">
  </script>
  <script src="{% static 'js/popper.min.js' %}">
  </script>
  <script src="{% static 'js/bootstrap.min.js' %}">
  </script>
</body>

</html>