{% extends 'base.html' %}

{% block titre %}

{% endblock %}

{% block contenu %}
<div class="m-2">
  <a href="{% url 'nouveau' %}" class="btn btn-primary">Ajouter contact</a>
</div>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      {% if contacts %}
      <ul class="list-group list-group-flush">
        {% for contact in contacts %}
        <li class="list-group-item"> <a href="{% url 'details' contact.id %}">{{ contact.nom }} {{ contact.prenom }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-center">Contact vide</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}