{% extends 'base.html' %}

{% block titre %}

{% endblock %}

{% block contenu %}
<div class="row mt-2">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h4 class="text-center">{{ contact }}</h4>
      <form method="POST"> {% csrf_token %}
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" name="nom" value="{{contact.nom}}">
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" value="{{contact.prenom}}">
        </div>
        <div class="form-group">
          <label for="phone">telephone</label>
          <input type="text" class="form-control" name="phone" value="{{contact.phone}}">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" value="{{contact.email}}">
        </div>


        <button type="submit" class="btn btn-primary ">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}