<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>Document</title>
</head>

<body>

  {% include 'partials/_navbar.html' %}
  {% block header %}
  <h2 class="text-center">Hello World, base.html!</h2>
  {% endblock %}

  <div class="container">

    {% block contenu %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, nihil? Aspernatur est nihil eligendi mollitia.
    </p>
    {% endblock  %}
  </div>



</body>
<!-- jquery, bootstrap -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>